.calculator {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 600px;
    border: 1px solid;
    padding: 5px;
    border-color: #eee;
    background-color: antiquewhite;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
}
h1 {
    text-align: center;
}

.display {
    font-size: larger;
    text-align: end;
    padding: 10px;
    border: 1px solid;
    border-color: #000000;
    margin-bottom: 5px;
}

.numeros {
    justify-content: space-between;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
    border-color: #000000;
}

.digitos {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.numeros {
    display: flex;
    justify-content: space-around;
}

.operadores {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}